.aboutUs, .tovars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    gap: 30px;
}
.tovars__img{
    width: 100%;
}
.reviews{
    padding: 30px 15px;
    display: flex;
    justify-content: center;
}
.reviews__slider{
    width: min-content;
}
.overlay-but{
    position: sticky;
    left: 15px;
    bottom: 15px;
}